<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- the 2 lines below is needed -->
    <link href="./static/fcf.default.css" rel="stylesheet">
    <link href="./static/fcf.default-custom.css" rel="stylesheet">
    
    <title>Contact Form</title>
</head>

<body>


    <!-- the lines below are needed -->
    <div class="fcf-body">
        <div class="fcf-form-wrap">
            <div id="fcf-form">
                <form class="fcf-form-class" method="post" action="fcf-assets/fcf.process.php">

                    <div class="fcf-field">
                        <label for="Message" class="fcf-label has-text-weight-normal"><h2>Thanks!</h2><br> <h3>@callas.7 will receive your truth!</h3></label>
                       
                </form>
            </div>
            
        </div>
    </div>
    <script src="fcf-assets/js/lang/fcf.en.js"></script>
    <script src="fcf-assets/js/fcf.just-validate.min.js"></script>
    <script src="fcf-assets/js/fcf.form.js"></script>
    <!-- the lines above are needed -->

</body>
</html>